<div class="text">
  <h1> KhanhNQ37 To Do List</h1>
  <h2>Enter text into the input field to add items to your list</h2>
  <p>click the "X" to remove the item from your list</p>
  <p>Click the item to mark it completed</p>


  <input [(ngModel)]="newTask" type="text" value="">
  <button (click)="addToList()">ADD</button>

</div>

<div>
  <ul *ngFor="let item of items">
    <li (click)="completed()" [ngClass]="{'' : toggle, 'completed': !toggle}" class="item">{{item}} {{status}}
      <button (click)="removeFromList()" class="remove">X</button>
    </li>
  </ul>
</div>